/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url(https://c0.wallpaperflare.com/preview/590/666/335/checkered-board-game.jpg) no-repeat center center fixed;
    background-size: cover;
    color: rgba(255,255,255,1);
}

.d-none {
    display: none !important;
}


/****** Session ******/
.previous {
    display: block;
    margin: 1rem 0 0 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: rgba(255,255,255,1);
    border-radius: 0.5rem;
    background: rgba(0,0,0,0.8);
    width: fit-content;
}
.previous-btn {
    border: none;
    color: rgba(255,255,255,1);
    background: rgba(0,0,0,0);
    margin: 0;
}

.session-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 75%;
    padding: 1rem;
    background: rgba(0,0,0,0.8);
    color: rgba(255,255,255,1);
    border-radius: .5rem;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
}

/****** Register ******/
.pieces-container {
    display: flex;
    align-items: center;
}

.gif-container {
    display: flex;
    align-items: baseline;
}
.gif-container img {
    width: 50%;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5rem 1.5rem;
    letter-spacing: 0.2vw;
    width: fit-content;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out .3s;
    text-decoration: none;
}

.btn.register {
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.4);
}
.btn:hover.register {
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.9);
}

.btn.login {
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.1);
}
.btn:hover.login {
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.2);
}

/****** Login ******/
.info {
    margin: 0;
}

label {
    display: block;
    margin: 0 0 1rem 0;
}

input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background: rgba(255,255,255,0.7);
}

#formErrorLogin, #formErrorRegister, #bypassError {
    display: none;
    padding: 1rem;
    background: rgba(255, 70, 70, 0.4);
    border: solid 2px rgba(150,0,0,1);
    border-radius: 0.5rem;
    margin: 0 auto;
}

/****** Home ******/
#home {
    border-radius: 0.5rem;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    text-align: center;
    margin: 1rem auto 0 auto;
    border-collapse: collapse;
}

thead {
    font-size: 14pt;
    background: rgba(255,255,255,0.5);
}

th {
    padding: 0 1.5rem;
}

tr:nth-child(even) {
    background: rgba(255,255,255,0.2);
}

.btn-home {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5rem 1.5rem;
    letter-spacing: 0.2vw;
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.4);
    width: fit-content;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out .3s;
    text-decoration: none;
}
.btn-home:hover {
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.9);
}

/****** Board ******/
#board {
    height: 100%;
    background: rgba(0,0,0,.8);
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board-svg {
    width: 100%;
}

.waiting {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gif {
    width: 75%;
}
